 html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: white;
}

    body {
        background: #001224;
    }

    body table {
      color: white !important;    
    }

    body #content {
        height: 100%;
    }

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Lato', sans-serif;
}    

.inner-wrap, .off-canvas-wrap {
    height: 100%;
}

#overlay {
    background: rgba(50,50,50,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

    #overlay span {
        padding: 5px;
        color: #000;
        background: rgba(255,255,255,0.8);
        position:relative;
        top:40%;
        left:30%;
        font-size: 4em;
        padding: 5px 30px;
    }

table {
    background: none;
}
    table tr th, table tr td {
        background: none;
        color: white;
        gfont-size: 1rem;
    }
    table tr.even, table tr.alt, table tr:nth-of-type(even) {
        background: none;
    }    
    