#header {
    height: 50vh;
}

#panels {
    height: 50vh;
    padding-top: 10vh;
}

    #panels .agpanel {
        text-align: center;
    }

    #panels a, #panels a:visited {
        text-decoration: none;
        color: white;
    }